body {
  background-color: #e1e1ee;
  font-family: sans-serif;

}

.container {
  background-color: rgb(79, 193, 238);

}


.title {
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Faster One', cursive;
}

.question {
  padding: 30px;
  font-size: 22px;
  border-radius: 20px;
  margin: 10px 0 10px 0;

}

.option {
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  margin: 10px 0 10px 10px;
  border-radius: 20px;
}

.option:hover {
  background: salmon;
  color: black;
}

.buttons {
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
  position: relative;
  left: 450px;
  width: 200px;
  
}



.result {
  height: 100px;
  text-align: center;
  font-size: 75px;
  width: 700px;
  position: relative;
  left: 600px;
  bottom: 200px;

}

#time {
  position: relative;
  left: 440px;
  font-family: 'Kirang Haerang', cursive;
  
  
}
